
.reg-box {
    padding: 64px 0;

    display: flex;
    justify-content: space-between;

    .reg_form {
        padding-right: 20px;

        .reg_input {
            width: 360px;
            margin-top: 20px;
            padding: 16px;

            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;
        }
        .check_reg {
            margin: 30px;
            
        }
        
        
        .form_text {
            width: 360px;
            margin-top: 20px;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #B1B1B1;

        }
        .reg_button {
            font-weight: 400;
            padding: 16px 30px;
            margin: 32px 0;
                    
            .span_sign {
                font-size: 17px;
                margin-left: 20px;
            }
            &:hover {
                border: 1px solid $color;
                background-color: $color-white;
                color: $color;
            }
        }

    }
    

    
    
    .reg_info {
        max-width: 650px;
    }
    .reg_info > ul {
        list-style-position: outside;
        padding-left: 0;    
    }
    .info {
        margin: 23px 0;
    }
    .reg_list {
        margin-bottom: 16px;
        list-style-position: outside;
    }
    .reg_list:before {
        content: url(img/Check.svg);
        width: 10px;
        height: 10px;
        margin-right: 23px;
        
        
    }
    
}


@media (max-width: 1440px) {
    
    .reg_text {
        font-size: 16px;
        line-height: 19px;
        
        
    }
    
}

@media (max-width: 667px) {

    .reg-box {
    
        flex-wrap: wrap;
    }
}

