@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif, 'Times New Roman', Times, sans-serif;
  font-style: normal;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_top {
  max-width: 1600px;
  margin: 0 auto;
}

.span0 {
  color: #F16D7F;
}

.link0 {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.summary {
  list-style-type: none;
}

.heading-h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 0;
}

.heading-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 0;
}

.heading-h2_offers {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}

.heading-h2_page {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #F16D7F;
}

.heading-h2_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.heading-h2_cart {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.heading-h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}

.heading-h4_card {
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 12px;
}

.heading-h4_filter {
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.card_info {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.cart_info {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #222222;
}

.reg_text {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: black;
}

.button_pink {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 20px;
  background-color: #F16D7F;
  border: 1px solid transparent;
  color: #FBFBFB;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button_pink:hover {
  border: 1px solid #F16D7F;
  background-color: #FBFBFB;
  color: #F16D7F;
}

.button_gray {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 20px;
  background-color: #FBFBFB;
  border: 1px solid #E2E2E2;
  -webkit-box-shadow: 0 5px 5px #E2E2E2;
          box-shadow: 0 5px 5px #E2E2E2;
  color: #222222;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button_gray:hover {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

/*Шапка на Главной*/
.header {
  background-color: #222222;
  height: 75px;
  padding-top: 5px;
}

.header .header a {
  padding: 20px;
}

.header .img_list {
  margin-right: 20px;
}

.header .container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container_header .img_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container_header .img_menu .search {
  position: relative;
  padding: 20px;
}

.header .container_header .img_menu .search .box_search {
  width: 550px;
  height: 30px;
  display: none;
  position: absolute;
  top: 20px;
  left: 65px;
}

.header .container_header .img_menu .search .box_search .text_search {
  width: 400px;
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  background-color: #FBFBFB;
  border: none;
}

.header .container_header .img_menu .search .box_search .button_search {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 20px;
  background-color: #F16D7F;
  color: #FBFBFB;
  text-align: center;
  border: none;
}

.header .container_header .search:hover .box_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container_header .right_header .catalog {
  position: relative;
  padding: 20px;
}

.header .container_header .right_header .catalog .place_menu {
  width: 230px;
  height: 500px;
  background: none;
  opacity: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
}

.header .container_header .right_header .catalog .head_menu {
  width: 230px;
  height: 70px;
  background: none;
  opacity: 100%;
}

.header .container_header .right_header .catalog .list_menu {
  background: #FBFBFB;
  padding: 25px 35px;
  max-width: 230px;
  height: 764px;
}

.header .container_header .right_header .catalog .menu_box {
  display: none;
  position: absolute;
  left: 230px;
  top: 0;
  z-index: 900;
}

.header .container_header .right_header .catalog .menu_box .btn_menu {
  width: 10px;
  height: 10px;
  font-size: 10px;
  margin-left: 120px;
}

.header .container_header .right_header .catalog .menu_box .heading_menu {
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  margin-bottom: 20px;
}

.header .container_header .right_header .catalog .menu_box .menu {
  padding-left: 0;
}

.header .container_header .right_header .catalog .menu_box .great_menu {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
  display: block;
}

.header .container_header .right_header .catalog .menu_box .great_menu:hover {
  font-weight: 600;
}

.header .container_header .right_header .catalog .menu_box .menu > li {
  margin-top: 10px;
}

.header .container_header .right_header .catalog .menu_box .group_products {
  padding-left: 0;
}

.header .container_header .right_header .catalog .menu_box .group_products a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.header .container_header .right_header .catalog .menu_box .group_products a:hover {
  color: #F16D7F;
}

.header .container_header .right_header .catalog .menu_box .group_products > li {
  margin: 12px;
}

.header .container_header .right_header .catalog .menu_box .group_products > li:hover {
  color: #F16D7F;
}

.header .container_header .right_header .catalog:hover .menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .container_header .right_header .catalog:hover .place_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*1я страница Главной*/
.top_page {
  background: #F1E4E6;
}

.top_page .head_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_page .head_box .foto_head {
  max-height: 764px;
}

.top_page .head_box .foto_head .img_top {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.top_page .head_box .text_box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_page .head_box .text_box .lane {
  width: 12px;
  background: #F16D7F;
  margin-right: 16px;
}

.top_page .head_box .text_box .text_head {
  width: 377px;
  color: #222222;
}

/*2я страница Главной*/
.offers {
  max-width: 1140px;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers .offer {
  width: 348px;
  height: 100%;
  margin-right: 30px;
  margin-bottom: 30px;
}

.offers .offer .link_offer {
  color: #FBFBFB;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers .offer .img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.offers .offer .img .img_foto {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers .offer .text_offer {
  text-align: center;
  position: absolute;
}

.offers .offer:hover .img {
  -webkit-filter: none;
          filter: none;
}

.offers :last-of-type {
  margin-right: 0;
}

.trends .trend_box {
  height: 100%;
  margin-bottom: 95px;
}

.trends .trend_box .link_trend {
  color: #FBFBFB;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trends .trend_box .trend_img {
  width: 100%;
  height: 180px;
  background-image: url(img/Trends.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.trends .trend_box .text_trend {
  text-align: center;
  position: absolute;
}

.trends .trend_box:hover .trend_img {
  -webkit-filter: none;
          filter: none;
}

.trends .trend_box:hover {
  color: #222222;
}

/*3я страница Главной*/
.top_text {
  text-align: center;
}

.top_text .heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.top_text .text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products {
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .card {
  max-width: 348px;
  background: #FBFBFB;
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .card .card_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products .card .card_head .link_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products .card .card_head .link_card .foto_card {
  max-height: 420px;
  margin-bottom: 5px;
  background: #F7E4E2;
}

.products .card .card_head .link_card .foto_card .img_card {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.products .card .card_head .link_card .text_card {
  margin: 20px;
}

.products .card .card_head .link_card .text_card .card_info {
  margin-bottom: 18px;
}

.products .card:hover {
  -webkit-box-shadow: 0 5px 8px grey;
          box-shadow: 0 5px 8px grey;
}

.products .card .add-box {
  height: 43px;
  position: absolute;
  top: 30%;
  display: none;
}

.products .card .add-box .link_add {
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
  border: 1px solid #FBFBFB;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .card .add-box .link_add .img_add {
  width: 26px;
  margin-right: 10px;
}

.products .card .add-box .link_add:hover {
  -webkit-box-shadow: 0 0 10px #FBFBFB;
          box-shadow: 0 0 10px #FBFBFB;
}

.products .card:hover .img_card {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.products .card:hover .add-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 95px;
}

.button_box .button_sec2 {
  padding: 14px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button_box .button_sec2:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

/*Подвал на Главной*/
.bottom-box {
  background-color: #222222;
}

.bottom-box .footer_top {
  min-height: 340px;
  background-color: #222222;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-box .footer_top .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-box .footer_top .item-box .item {
  max-width: 360px;
  text-align: center;
  margin-right: 30px;
}

.bottom-box .footer_top .item-box .item:last-of-type {
  margin-right: 0;
}

.bottom-box .footer_top .item-box .item > h4 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 28px;
  margin-bottom: 16px;
}

.bottom-box .footer_top .item-box .item > p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.bottom-box .footer_send {
  max-width: 1600px;
  min-height: 448px;
  margin: 0 auto;
  background: rgba(244, 244, 244, 0.7);
  position: relative;
}

.bottom-box .footer_send .foto_footer {
  width: 100%;
  min-height: 448px;
  background-image: url(img/Bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.bottom-box .footer_send .text_footer {
  width: 100%;
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 89px;
  background: rgba(244, 244, 244, 0.7);
  position: absolute;
  top: 0;
}

.bottom-box .footer_send .left {
  max-width: 400px;
  min-height: 225px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.bottom-box .footer_send .left .img_figure {
  padding: 25px;
}

.bottom-box .footer_send .right {
  max-width: 557px;
  min-height: 225px;
  text-align: center;
  color: #222222;
}

.bottom-box .footer_send .right > h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  margin-top: 32px;
  margin-bottom: 0;
}

.bottom-box .footer_send .right > h4 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}

.bottom-box .footer_send .right .form_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-box .footer_send .right .input_send {
  max-width: 256px;
  background: #E1E1E1;
  padding: 20px 30px;
  border-radius: 50px 0 0 50px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  opacity: 0.67;
}

.bottom-box .footer_send .right .button_send {
  background-color: #F16D7F;
  color: #FBFBFB;
  padding: 20px 30px;
  border-radius: 0 50px 50px 0;
  border: none;
  font-size: 14px;
  line-height: 17px;
}

.bottom-box .footer_bottom {
  height: 79px;
  background-color: #222222;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-box .footer_bottom .left_box {
  padding: 30px 0;
}

.bottom-box .footer_bottom .left_box > p {
  font-size: 16px;
  line-height: 19px;
}

.bottom-box .footer_bottom .right_box .nav_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box {
  background-color: #FBFBFB;
  margin-right: 10px;
  padding: 5px;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box .social_link {
  padding: 5px;
  background-color: #FBFBFB;
  text-align: center;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box .social_link .fab {
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  background-color: #FBFBFB;
  color: #222222;
  padding: 5px;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box .social_link .fab:hover {
  background-color: #F16D7F;
  color: #FBFBFB;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box .social_link .fab:hover .social_box {
  background-color: #F16D7F;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box .social_link:hover {
  background-color: #F16D7F;
}

.bottom-box .footer_bottom .right_box .nav_footer .social_box:hover {
  background-color: #F16D7F;
}

@media (min-width: 1420px) {
  .item-1 {
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41), -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
  }
  .item-2 {
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41), -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .item-3 {
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    transition: transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41), -webkit-transform 2s cubic-bezier(0.45, 0.29, 0.86, 0.41);
    -webkit-transition-delay: 2s;
            transition-delay: 2s;
  }
  .footer_top:hover .item {
    -webkit-transform: translateY(-55px);
            transform: translateY(-55px);
  }
}

/*АДАПТИВ под гаджеты*/
/*планшет горизонт.+вертикал.*/
@media (max-width: 1440px) {
  .products .card {
    max-width: 293px;
  }
}

/*планшет горизонт.+вертикал.*/
@media (max-width: 1024px) {
  .heading-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    margin-bottom: 0;
  }
  .heading-h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .container {
    padding: 0px 16px;
  }
  .container_top {
    max-width: 1024px;
  }
  .container_top .img_top {
    max-height: 368px;
  }
  .container_top .text_head {
    width: 283px;
  }
  .catalog:hover .menu_box {
    display: none;
  }
  .catalog:hover .place_menu {
    display: none;
  }
  .offers {
    margin-top: 20px;
  }
  .offers .offer {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .trend_box {
    margin-bottom: 95px;
  }
  .trend_img {
    height: 116px;
  }
  .text_head {
    max-width: 283px;
  }
  .bottom-box {
    background: none;
  }
  .bottom-box .footer_top .item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 64px;
  }
  .bottom-box .footer_top .item-box .item {
    margin-top: 48px;
    margin-right: 0;
  }
  .bottom-box .footer_send {
    background: rgba(244, 244, 244, 0.7);
    height: 100%;
  }
  .bottom-box .footer_send .foto_footer {
    min-height: 693px;
  }
  .bottom-box .footer_send .text_footer {
    min-height: 693px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 23px;
  }
  .bottom-box .footer_send .text_footer .right {
    height: 100%;
    padding-bottom: 140px;
  }
  .bottom-box .footer_send .text_footer .right > h2 {
    margin-top: 48px;
  }
}

/*планшет горизонт.+вертикал.*/
@media (max-width: 768px) {
  .header .container_header .img_menu .search .box_search .text_search {
    width: 300px;
  }
  .heading-h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 0;
  }
  .heading-h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .trend_img {
    height: 111px;
  }
  .products .card {
    max-width: 360px;
  }
}

/*мобильник гориз.+вертик.*/
@media (max-width: 667px) {
  .li_last {
    display: none;
  }
  .header .container_header .img_menu .search .box_search {
    position: absolute;
    top: 55px;
    left: -20px;
  }
  .header .container_header .img_menu .search .box_search > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .container_header .img_menu .search .box_search .text_search {
    width: 200px;
  }
  .header .container_header .img_menu .search .box_search .button_search {
    line-height: 10px;
  }
  .container_top {
    max-width: 667px;
  }
  .top_page {
    height: 363px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foto_head {
    display: none;
  }
  .head_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 64px;
  }
  .offers .offer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .trend_box {
    width: 100%;
    margin-bottom: 64px;
  }
  .trend_box .trend_img {
    height: 110px;
  }
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item {
    width: 100%;
    text-align: center;
  }
  .footer_send {
    width: 100%;
  }
  .footer_send .foto_footer {
    min-height: 550px;
  }
  .footer_send .text_footer {
    min-height: 550px;
  }
  .footer_send .text_footer .left {
    width: 100%;
  }
  .footer_send .text_footer .right {
    width: 100%;
  }
  .footer_send .text_footer .right .input_send {
    padding: 15px 20px;
  }
  .footer_send .text_footer .right .button_send {
    padding: 15px 20px;
  }
  .bottom-box .footer_bottom {
    height: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
  }
  .bottom-box .footer_bottom .left_box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .bottom-box .footer_bottom .right_box {
    margin: 40px;
  }
}

/*мобильник вертик.*/
@media (max-width: 425px) {
  .header .container_header .img_menu .search .box_search {
    position: absolute;
    top: 55px;
    left: -60px;
  }
  .header .container_header .img_menu .search .box_search .text_search {
    width: 150px;
  }
}

.head_page {
  max-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_page .heading-h2_page {
  margin: 60px 0;
  display: block;
}

.breadcrumb {
  margin: 16px 0;
}

.scrumb-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.scrumb-link:hover {
  color: #F16D7F;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
}

.active_page {
  color: #F16D7F;
}

.filters {
  height: 30px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters .great_fitter {
  width: 348px;
  margin-right: 3%;
  position: relative;
}

.filters .great_fitter .great_filter-box {
  width: 348px;
  background-color: #FBFBFB;
  position: absolute;
  z-index: 900;
}

.filters .great_fitter .great_filter-box[open] {
  background-color: #FBFBFB;
  -webkit-box-shadow: 0 5px 8px grey;
          box-shadow: 0 5px 8px grey;
  padding: 16px;
}

.filters .great_fitter .heading-h4_filter {
  font-weight: 600;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters .great_fitter .heading-h4_filter:after {
  content: url(img/Filter.svg);
  margin-left: 10px;
}

.filters .great_fitter .heading-h4_filter .sign_filter {
  display: none;
  margin-left: 10px;
}

.filters .great_fitter .heading-h4_filter:hover {
  color: #F16D7F;
}

.filters .great_fitter .heading-h4_filter:hover:after {
  display: none;
}

.filters .great_fitter .heading-h4_filter:hover .sign_filter {
  display: block;
}

.filters .great_fitter .heading-h4_filter_down {
  font-weight: 400;
  padding: 11px;
  margin-bottom: 18px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #E2E2E2;
}

.filters .great_fitter .heading-h4_filter_down:hover {
  color: #F16D7F;
}

.filters .great_fitter .list_filte {
  position: relative;
}

.filters .great_fitter .filter_group {
  margin: 10px;
  display: none;
  position: absolute;
  right: 0;
  left: auto;
}

.filters .great_fitter .list_filter:hover {
  color: #F16D7F;
}

.filters .great_fitter .list_filter:hover .filter_group {
  display: inline;
}

.filters .sorters {
  width: 348px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters .sorters .sorter-box {
  margin-right: 3%;
}

.filters .sorters .sorter-box .sorter {
  position: relative;
}

.filters .sorters .sorter-box .sorter .heading-h4_filter:hover {
  color: #F16D7F;
}

.filters .sorters .sorter-box .sorter .sing_sorter {
  margin: 10px;
}

.filters .sorters .sorter-box .sorter .sort {
  width: 100%;
  padding-left: 0;
  background-color: #FBFBFB;
  -webkit-box-shadow: 0 5px 8px grey;
          box-shadow: 0 5px 8px grey;
  position: absolute;
  right: 0;
  left: auto;
  z-index: 900;
}

.filters .sorters .sorter-box .sorter .sort .list_sort {
  width: 100%;
}

.filters .sorters .sorter-box .sorter .sort .list_sort:hover {
  color: #F16D7F;
}

.filters .sorters .sorter-box .sorter .sort .check_sort {
  margin: 10px;
}

.filters .sorters .sorter-box .sorter_last {
  width: 110px;
  position: absolute;
}

.page-nav {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.page-list {
  max-width: 283px;
}

.page-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.page-link .page_catalog {
  font-weight: 900;
  color: #222222;
}

.page-link:hover {
  color: #F16D7F;
}

/*планшет горизонт.+вертикал.*/
@media (max-width: 1440px) and (min-width: 1024px) {
  .filters .great_fitter {
    max-width: 293px;
  }
  .filters .great_fitter .great_filter-box {
    width: 293px;
  }
}

/*планшет горизонт.+вертикал.*/
@media (max-width: 768px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*мобильник вертик.*/
@media (max-width: 667px) {
  .top_page {
    height: 100%;
  }
  .head_page {
    padding: 24px;
    margin-bottom: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head_page .heading-h2_page {
    margin-top: 0;
    margin-bottom: 32px;
  }
  .txt_filter {
    display: none;
  }
  .filters .sorters {
    position: absolute;
    left: 70px;
    z-index: 990;
  }
}

.carousel {
  border: 1px solid #E2E2E2;
  padding-top: 10px;
  padding-bottom: 42px;
}

.carousel .carousel-item {
  background-color: #FBFBFB;
}

.carousel .carousel-item .img-carousel {
  width: 560px;
  height: 724px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel .box_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .button_carousel {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  top: 50%;
}

.carousel .button_carousel .previous_button {
  background-image: url(img/Left.svg);
}

.carousel .button_carousel .next_button {
  background-image: url(img/Right.svg);
}

.info-box_product {
  height: 600px;
  position: relative;
}

.head_info {
  width: 100%;
  margin: 0 auto;
  padding: 65px;
  border: 1px solid #E2E2E2;
  background-color: #FBFBFB;
  position: absolute;
  top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_info .text_product {
  max-width: 641px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 65px;
  border-bottom: 1px solid #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_info .text_product .group_product {
  display: block;
}

.head_info .text_product .lane_2 {
  width: 63px;
  height: 3px;
  background: #F16D7F;
  margin-bottom: 12px;
}

.head_info .text_product .card_info {
  max-width: 555px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.head_info .options_product {
  width: 100%;
  padding-top: 15px;
  margin: 50px;
}

.head_info .options_product .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_info .options_product .options .option-box {
  margin-right: 3%;
}

.head_info .options_product .options .option-box .options {
  position: relative;
}

.head_info .options_product .options .option-box .options .heading-h4_filter:hover {
  color: #F16D7F;
}

.head_info .options_product .options .option-box .options .sing_option {
  margin: 10px;
}

.head_info .options_product .options .option-box .options .option {
  width: 100%;
  padding-left: 0;
  background-color: #FBFBFB;
  -webkit-box-shadow: 0 5px 8px grey;
          box-shadow: 0 5px 8px grey;
  position: absolute;
  right: 0;
  left: auto;
  z-index: 900;
}

.head_info .options_product .options .option-box .options .option .check_option {
  margin: 10px;
}

.head_info .options_product .options .option-box .options .option .choose:hover {
  color: #F16D7F;
}

.head_info .button_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head_info .button_cart .button_product {
  padding: 15px 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  text-align: center;
}

.head_info .button_cart .button_product .img_button {
  width: 26px;
  margin-right: 15px;
}

.head_info .button_cart .button_product:hover {
  -webkit-box-shadow: 0 0 10px #F16D7F;
          box-shadow: 0 0 10px #F16D7F;
}

.footer_short {
  margin-top: 80px;
  background: #f4f4f4;
}

/*планшет горизонт.+вертикал.*/
@media (max-width: 768px) {
  .products .card_last {
    display: none;
  }
}

.reg-box {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reg-box .reg_form {
  padding-right: 20px;
}

.reg-box .reg_form .reg_input {
  width: 360px;
  margin-top: 20px;
  padding: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg-box .reg_form .check_reg {
  margin: 30px;
}

.reg-box .reg_form .form_text {
  width: 360px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg-box .reg_form .reg_button {
  font-weight: 400;
  padding: 16px 30px;
  margin: 32px 0;
}

.reg-box .reg_form .reg_button .span_sign {
  font-size: 17px;
  margin-left: 20px;
}

.reg-box .reg_form .reg_button:hover {
  border: 1px solid #F16D7F;
  background-color: #FBFBFB;
  color: #F16D7F;
}

.reg-box .reg_info {
  max-width: 650px;
}

.reg-box .reg_info > ul {
  list-style-position: outside;
  padding-left: 0;
}

.reg-box .info {
  margin: 23px 0;
}

.reg-box .reg_list {
  margin-bottom: 16px;
  list-style-position: outside;
}

.reg-box .reg_list:before {
  content: url(img/Check.svg);
  width: 10px;
  height: 10px;
  margin-right: 23px;
}

@media (max-width: 1440px) {
  .reg_text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 667px) {
  .reg-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart-box {
  padding: 96px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-box .cart-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-box {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-box .button_continium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-box .cart_button {
  padding: 17px 40px;
}

.cart-items {
  max-width: 650px;
  margin-bottom: 40px;
  background: #FBFBFB;
  -webkit-box-shadow: 15px 15px 10px #E2E2E2;
          box-shadow: 15px 15px 10px #E2E2E2;
}

.cart-items .card_product {
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cart-items .card_product .btn_cart {
  position: absolute;
  right: 20px;
  left: auto;
  top: 20px;
}

.cart-items .card_product .foto_product {
  max-height: 304px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.cart-items .card_product .foto_product .img_product {
  width: 100%;
  height: 100%;
}

.cart-items .card_product .foto_product:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cart-items .card_product .cart_link {
  max-width: 260px;
}

.cart-items .card_product .text_product {
  width: 390px;
  padding: 20px 30px;
}

.cart-items .card_product .text_product .heading-h2_cart {
  width: 260px;
  margin-bottom: 42px;
}

.cart-items .card_product .text_product .heading-h2_cart:hover {
  color: #F16D7F;
}

.cart-items .card_product .text_product .cart_info {
  color: #222222;
  margin-bottom: 6px;
}

.cart-items .card_product .text_product .cart_info .cart_number {
  width: 40px;
  height: 23px;
  color: #222222;
  text-align: center;
  margin-left: 25px;
}

.cart-items:hover {
  -webkit-box-shadow: 0 5px 8px #F16D7F;
          box-shadow: 0 5px 8px #F16D7F;
}

.right-box_cart {
  margin-left: 20px;
}

.right-box_cart .adress-box {
  padding: 15px 0;
  margin-bottom: 20px;
}

.right-box_cart .adress-box .adress_input {
  width: 360px;
  margin-top: 20px;
  padding: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.right-box_cart .adress-box .adress_button {
  margin-top: 20px;
}

.right-box_cart .total-box {
  width: 360px;
  background-color: #F5F3F3;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-box_cart .total-box .total_cart {
  text-align: right;
  border-bottom: 1px solid #E2E2E2;
}

.right-box_cart .total-box .total_button {
  margin-top: 17px;
}

/*планшет горизонт.+вертикал.*/
@media (max-width: 768px) {
  .cart-box {
    padding: 48px 0;
  }
  .cart-box .cart-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-box .cart-user .left-box_cart {
    padding-top: 10px;
  }
  .cart-box .cart-user .left-box_cart .cart-items {
    max-width: 100%;
  }
  .cart-box .cart-user .left-box_cart .cart-items .card_product {
    min-width: 100%;
  }
  .cart-box .cart-user .right-box_cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 65px;
  }
  .cart-box .cart-user .right-box_cart .adress-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 2%;
  }
  .cart-box .cart-user .right-box_cart .total-box {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 50px 0;
  }
}

/*мобильник гориз.+вертик.*/
@media (max-width: 667px) {
  .cart_info {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-items .card_product {
    max-width: 100%;
  }
  .cart-items .card_product .text_product {
    max-width: 100%;
  }
  .cart-items .card_product .text_product .heading-h2_cart {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
  }
  .cart-items .card_product .text_product .cart_info .cart_number {
    height: 16px;
    font-size: 10px;
    line-height: 12px;
  }
  .btn_cart {
    font-size: 10px;
  }
  .button-box .cart_button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 18px;
  }
  .cart-box .cart-user .right-box_cart {
    display: block;
  }
  .right-box_cart .adress-box .adress_input {
    width: 100%;
  }
  .right-box_cart .total-box {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */